::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5);
    -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0,0,0,0.61);
    -webkit-border-radius: 100px;
}

/* add vertical min-height & horizontal min-width */
::-webkit-scrollbar-thumb:vertical {
    min-height: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
    min-width: 10px;
}
/* 大功能模块屏蔽 */
#ct-footer, #ct-ad, #logo{
    display: none !important;
}
#ct-location{
    float: left !important;
    padding-left: 20px !important;
}
#ct-header{
    margin-bottom: 0 !important;
}
#ct-current #ct-current-weather{
    top: 0 !important;
    left: 480px !important;
}
.container{
    margin-bottom: 0 !important;
}
#ct-current{
    padding: 20px;
}